<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>Mercado Liebre</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" 
    rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/whatsapp.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    rel="stylesheet">
</head>
<body>
    <h1 class="display-h1">Mercado Liebre</h1>
    <header class="main-header"> 
        <div class="container-logo-search-bar">
            <div class="flex-grow-50"><img src="images/logo-mercado-liebre.svg" alt="ml logo"></div>
            <div class="container-search-bar">
              <form class="nav-search" action="https://www.mercadolibre.com.ar/jm/search" method="GET" role="search" >
                <input  class="box-search-bar" type="text" placeholder="Buscar productos, marcas y más…">
                <button type="submit" class="nav-search-btn" tabindex="3">
                  <i class="fa-solid fa-magnifying-glass"></i>
                </button>
              </form>
            </div>
            <h4 class="copy-header">
                <i class="fa-solid fa-hand-holding-dollar"></i>
                    Comprá en cuotas y sin tarjeta de crédito
            </h4>
        </div>
        
           <nav  class="main-navbar">
            <ul class="left-navbar">
                <li><a class="font" href='home.html'>Ofertas</a></li>
                <li><a href='officialstores.html'>Tiendas Oficiales</a></li>
                <li><a href='sell.html'>Vender</a></li>
                <li><a href='help.html'>Ayuda</a></li>
            </ul>
            <ul class="right-navbar"> 
                <li><a href="/register">Crea tu cuenta<i class="fa-solid fa-id-card"></i></a></li>
                <li><a href="/homelogin">Ingresa<i class="fa-solid fa-right-to-bracket"></i></a></li>
                <li><a href="#">Mis compras<i class="fa-solid fa-basket-shopping"></i></a></li>
            </ul>
        </nav>
        <div class="burger-menu">
            <i class="background-blue color-white border-radius-15 padding-10 fa-solid fa-bars"></i>
        </div>
    </header>
    <img class="home-banner" src="images/img-home-banner.jpg" alt="banner">
    <main>
        <h2>Basado en tu última visita</h2>
        <section class='section-1'> 
            <article class="flex-grow-1">
                <div class="img"><img src="images/img-cafetera-moulinex.jpg" alt="descargando la cafetera"></div> 
                <div class="container-details">
                    <i class="rotate color-green icon-size round-border fa-solid fa-truck "></i>
                </div>
                <div class="img container-flex-box">
                    <h5 class="flex-grow-30">$6.770</h5>
                    <h6 class="deal-effect flex-grow-70 color-green">40% off</h6>
                </div>
                <div class="img"><h6 class="description font-h6">Cafetera Moulinex</h6></div>
                </article>

            <article class="flex-grow-2">
                <div class="img"><img src="images/img-macbook-pro-2019.jpg" alt="descargando la macbook pro 2019"></div> 
                <div class="container-details">
                    <i class="rotate color-green icon-size round-border fa-solid fa-truck "></i>
                </div>
                <div class="img container-flex-box">
                    <h5 class="flex-grow-30">$230.000</h5>
                    <h6 class="deal-effect flex-grow-70 color-green">20% off</h6>
                </div>
                <div class="img"><h6 class="description font-h6">MacBook Pro 2019</h6></div>
            </article>

            <article class="flex-grow-3">
                <div class="img"><img src="images/img-samsung-galaxy-s10.jpg" alt="descargando el samsung galaxy s10"></div> 
                <div class="container-details">
                    <i class="rotate color-green icon-size round-border fa-solid fa-truck "></i>
                </div>
                <div class="img container-flex-box"></div>
                    <h5 class="flex-grow-30">$70.500</h5>
                    <h6 class="deal-effect flex-grow-70 color-green">10% off</h6>
                </div>
                    <div class="img"><h6 class="description font-h6">Samsung Galaxy S10</h6></div>
            </article>

            <article class="flex-grow-4">
                <div class="img" ><img  src="images/img-tv-samsung-smart.jpg" alt="descargando la tv samsung"></div> 
                <div class="container-details">
                    <i class="rotate color-green icon-size round-border fa-solid fa-truck "></i>
                </div>
                <div class="img container-flex-box">
                    <h5 class="flex-grow-30">$23.200</h5>
                    <h6 class="deal-effect flex-grow-70 color-green">5% off</h6>
                </div>
                    <div class="img"><h6 class="description font-h6">SmartTv Samsung 43"</h6></div>
                </div>
            </article>
        </section>
        <h2>Ofertas</h2>
        <section class='section-2'>
            <article class="flex-grow-1">
                <div class="img"><img src="images/img-cafetera-moulinex.jpg" alt="descargando la cafetera"></div> 
                <div class="container-details">
                    <i class="rotate color-green icon-size round-border fa-solid fa-truck "></i>
                </div>
                <div class="img container-flex-box">
                    <h5 class="flex-grow-30">$6.770</h5>
                    <h6 class="deal-effect flex-grow-70 color-green">40% off</h6>
                </div>
                <div class="img"><h6 class="description font-h6">Cafetera Moulinex</h6></div>
                </article>

            <article class="flex-grow-2">
                <div class="img"><img src="images/img-macbook-pro-2019.jpg" alt="descargando la macbook pro 2019"></div> 
                <div class="container-details">
                    <i class="rotate color-green icon-size round-border fa-solid fa-truck "></i>
                </div>
                <div class="img container-flex-box">
                    <h5 class="flex-grow-30">$230.000</h5>
                    <h6 class="deal-effect flex-grow-70 color-green">20% off</h6>
                </div>
                <div class="img"><h6 class="description font-h6">MacBook Pro 2019</h6></div>
            </article>

            <article class="flex-grow-3">
                <div class="img"><img src="images/img-samsung-galaxy-s10.jpg" alt="descargando el samsung galaxy s10"></div> 
                <div class="container-details">
                    <i class="rotate color-green icon-size round-border fa-solid fa-truck "></i>
                </div>
                <div class="img container-flex-box"></div>
                    <h5 class="flex-grow-30">$70.500</h5>
                    <h6 class="deal-effect flex-grow-70 color-green">10% off</h6>
                </div>
                    <div class="img"><h6 class="description font-h6">Samsung Galaxy S10</h6></div>
            </article>

            <article class="flex-grow-4">
                <div class="img" ><img  src="images/img-tv-samsung-smart.jpg" alt="descargando la tv samsung"></div> 
                <div class="container-details">
                    <i class="rotate color-green icon-size round-border fa-solid fa-truck "></i>
                </div>
                <div class="img container-flex-box">
                    <h5 class="flex-grow-30">$23.200</h5>
                    <h6 class="deal-effect flex-grow-70 color-green">5% off</h6>
                </div>
                    <div class="img"><h6 class="description font-h6">SmartTv Samsung 43"</h6></div>
                </div>
            </article>
           
        </section >
    </main>
    <section>
        <div class="btn-whatsapp">
            <a href="https://api.whatsapp.com/send/?phone=124123123&text=DigitalHouse es lo mas!" target="_blank">
                <img src="images/btn_whatsapp.png" alt="whatsapp logo">
            </a>
        </div>
    </section>


    <footer>
        
            
            
            <div class="footer-class">
                <div class="footer-section">
                    <div class="margin-auto">
                        <i class="color-hover fa-solid fa-credit-card icon-size"></i>
                    </div>
                    <h4 class="margin-avisos">Pagá con tarjeta o en efectivo </h4>
                    <p class="margin-botom">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!
                    </p>
                </div>

                <div class="footer-section">
                     <div class="margin-auto">
                        <i class="color-hover fa-solid fa-gift icon-size"></i>
                    </div>
                    <h4 class="margin-avisos">Envío gratis desde $ 2.500</h4>
                    <p class="margin-botom">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                        productos. Es un beneficio de Mercado Puntos.
                    </p>
                </div>
                <div class="footer-section">
                    <div class="margin-auto">
                        <i class="color-hover fa-solid fa-user-shield icon-size"></i>
                    </div>
                    <h4 class="margin-avisos">Seguridad, de principio a fin</h4>
                    <p class="margin-botom">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                        porque estás siempre protegid@.
                    </p>
                </div>
            </div>
                <div class="section-cw">
                    <p class="Copyright-justify">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
                </div>
            
      
    </footer>
    
</body>
</html>