<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="Stylesheet" href="/css/normalize.css">
    <link href="/css/styles.css" rel="Stylesheet">
    <link rel="rel"stylesheet" href="css/whatsapp.css"
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Itim&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <title>Mercado Liebre</title>
</head>
<body>
    <header class="main-header">
        <div class="main-header-top-bar">
            <div class="container-logo-barra">
                <img class="logo" src="./images/logo-mercado-liebre.svg" alt="logo mercado libre" >
                <div class="container-search-bar">
                    <form class="nav-search" action="https://www.mercadolibre.com.ar/jm/search" method="GET" role="search" style="overflow: inherit; display: inherit;">
                      <input type="text" placeholder="Buscar productos, marcas y más…">
                      <button type="submit" class="nav-search-btn" tabindex="3">
                        <i class="fa-solid fa-magnifying-glass"></i>
                      </button>
                    </form>
                  </div>
                
            </div>
            <h2 class="copy-header">
                <i class="fa-solid fa-hand-holding-dollar tamanio"></i>
                comprá en cuotas y sin tarjeta de crédito
            </h2>
        </div>
        <div class="icono-centrado">
            <i class="fas fa-bars color-white background-blue border-radius-8 padding-10 tamanio"></i>
        </div>
        
        <nav class="main-navbar">
            <ul class="left-navbar">
                <li><a href="/">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul class="right-navbar">
                <li><a href="/register">Creá tu cuenta </a>
                     <i class="fa-regular fa-id-card tamanio"></i>
                </li>
                <li><a href="/login">Ingresá </a>
                    <i class="fa-solid fa-right-to-bracket tamanio"></i>
                </li>
                <li><a href="#">Mis compras </a>
                    <i class="fa-sharp fa-solid fa-basket-shopping tamanio"></i>
                </li>
            </ul>
        </nav>
       
        
    </header>
    <main>
        <div>
            <img class="banner" src="./images/img-home-banner.jpg" alt="banner">
        </div>
        <h3>Basado en tu última visita</h3>
        <section class="section-1">
            
            <article class="flex-grow-1">
                <div>
                    <img class="img"src="./images/img-cafetera-moulinex.jpg" alt="imagen de la cafetera">
                </div>
                <div class="desc">
                    <div class="container-truck">
                        <i class=" rotate fa-solid fa-truck"></i>
                    </div>
                    <div class="precio-dto">
                        <h5>$ 6.770</h5>
                        <h6 class="deal-effect">40% OFF</h6>
                    </div>

                    <div class="descrip"><h6>Cafetera Moulinex</h6></div>
                </div>
            </article>
            <article class="flex-grow-2">
                <div>
                    <img class="img" src="./images/img-macbook-pro-2019.jpg" alt="imagen de la macBook">
                </div>
                <div class="desc">
                    <div class="container-truck">
                        <i class="rotate fa-solid fa-truck"></i>
                    </div>
                    <div class="precio-dto"> 
                        <h5>$ 230.000</h5>
                        <h6 class="deal-effect">20% OFF</h6>
                    </div>
                    <div class="descrip"><h6>MacBook Pro 2019</h6></div>
                </div>
            </article>
            <article class="flex-grow-3">
                <div>
                    <img class="img" src="./images/img-samsung-galaxy-s10.jpg" alt="imagen de la cafetera">
                </div>
                <div class="desc">
                    <div class="container-truck">
                        <i class="rotate fa-solid fa-truck"></i>
                    </div>
                    <div class="precio-dto">
                        <h5>$ 70.500</h5>
                        <h6 class="deal-effect">10% OFF</h6>
                    </div>
                    <div class="descrip"><h6>Samsung Galaxy</h6></div>
                </div>
            </article>
            <article class="flex-grow-4">
                <div>
                    <img class="img" src="./images/img-tv-samsung-smart.jpg" alt="imagen de la cafetera">
                </div>
                <div class="desc">
                    <div class="container-truck">
                        <i class="rotate fa-solid fa-truck"></i>
                    </div>
                    <div class="precio-dto">
                        <h5>$ 23.200</h5>
                        <h6 class="deal-effect">5% OFF</h6>
                    </div>
                    <div class="descrip"><h6>SmartTv Samsung 43"</h6></div>
                </div>
            </article>
        </section>
        <h3>sección de ofertas</h3>
        <section class="section-2">
            
            <article class="flex-grow-1">
                <div>
                    <img class="img" src="./images/img-cafetera-moulinex.jpg" alt="imagen de la cafetera">
                </div>
                <div class="desc">
                    <div class="container-truck">
                        <i class="rotate fa-solid fa-truck"></i>
                    </div>
                    <div class="precio-dto">
                        <h5>$ 6.770</h5>
                        <h6 class="deal-effect">40% OFF</h6>
                    </div>
                   <div class="descrip"><h6>Cafetera Moulinex</h6></div>
                </div>
            </article>
            <article class="flex-grow-2">
                <div>
                    <img class="img" src="./images/img-macbook-pro-2019.jpg" alt="imagen de la macBook">
                </div>
                <div class="desc">
                    <div class="container-truck">
                        <i class="rotate fa-solid fa-truck"></i>
                    </div>
                    <div class="precio-dto">
                        <h5>$ 230.000</h5>
                        <h6 class="deal-effect">20% OFF</h6>
                    </div>
                    <div class="descrip"><h6>MacBook Pro 2019</h6></div>
                </div>
            </article>
            <article class="flex-grow-3">
                <div>
                    <img class="img" src="./images/img-samsung-galaxy-s10.jpg" alt="imagen de la cafetera">
                </div>
                <div class="desc">
                    <div class="container-truck">
                        <i class="rotate fa-solid fa-truck"></i>
                    </div>
                    <div class="precio-dto">
                        <h5>$ 70.500</h5>
                        <h6 class="deal-effect">10% OFF</h6>
                    </div>
                    <div class="descrip"><h6>Samsung Galaxy</h6></div>
                </div>
            </article>
            <article class="flex-grow-4">
                <div>
                    <img class="img" src="./images/img-tv-samsung-smart.jpg" alt="imagen de la cafetera">
                </div>
                <div class="desc">
                    <div class="container-truck">
                        <i class="rotate fa-solid fa-truck"></i>
                    </div>
                    <div class="precio-dto">
                        <h5>$ 23.200</h5>
                        <h6 class="deal-effect">5% OFF</h6>
                    </div>
                    <div class="descrip"><h6>SmartTv Samsung 43"</h6></div>
                </div>
            </article>
        </section>
    </main>
    <section>
        <div class="whatsapp-button">
            <a href="https://api.whatsapp.com/send/?phone=3875195590&text=Excelencia y calidez en consultas on line!" target="blank">
                <img src="images/btn_whatsapp.png" alt="whatsapp logo"/>
            </a>

        </div>
    </section>
    <footer>
        <ul >
            <li>
                <div >
                    <i class="fa-sharp fa-solid fa-credit-card color-blue"></i>
                </div>
                <h5>Pagá con tarjeta o en efectivo</h5>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en 
                   puntos de pago. ¡y siempre es seguro!</p>
            </li>
            <li>
                <div >
                    <i class="fa-sharp fa-solid fa-gift color-blue"></i>
                </div>
                <h5>Envío gratis desde $ 2.500</h5>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                   productos. Es un beneficio de Mercado Puntos.</p>
            </li>
            <li>
                <div>
                    <i class="fa-solid fa-user-shield color-blue"></i>
                </div>
                <h5>Seguridad de principio a fin</h5>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas
                     hacer, porque estás siempre protegid@.</p>
            </li>
            <li>
                <p>Copyright ® 1990-2020 Mercado Liebre S.R.L.</p>
            </li>
        </ul>
    </footer>
</body>
</html>