<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre Login</title>
    <link href="https://fonts.googleapis.com/css2?family=Arvo&family=Lato:wght@300;400&display=swap" 
    rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/whatsapp.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    rel="stylesheet"> 
   </head>

<body>

    <header class="main-header"> 
        <div class="container-logo-search-bar">
            <div class="flex-grow-50"><img src="images/logo-mercado-liebre.svg" alt="ml logo"></div>
            <div class="container-search-bar">
              <form class="nav-search" action="https://www.mercadolibre.com.ar/jm/search" method="GET" role="search" >
                <input  class="box-search-bar" type="text" placeholder="Buscar productos, marcas y más…">
                <button type="submit" class="nav-search-btn" tabindex="3">
                  <i class="fa-solid fa-magnifying-glass"></i>
                </button>
              </form>
            </div>
            <h4 class="copy-header">
                <i class="fa-solid fa-hand-holding-dollar"></i>
                    Comprá en cuotas y sin tarjeta de crédito
            </h4>
        </div>
        
           <nav  class="main-navbar">
            <ul class="left-navbar">
                <li><a class="font" href='home.html'>Ofertas</a></li>
                <li><a href='officialstores.html'>Tiendas Oficiales</a></li>
                <li><a href='sell.html'>Vender</a></li>
                <li><a href='help.html'>Ayuda</a></li>
            </ul>
            <ul class="right-navbar"> 
                <li><a href="/register">Crea tu cuenta<i class="fa-solid fa-id-card"></i></a></li>
                <li><a href="/homelogin">Ingresa<i class="fa-solid fa-right-to-bracket"></i></a></li>
                <li><a href="#">Mis compras<i class="fa-solid fa-basket-shopping"></i></a></li>
            </ul>
        </nav>
        <div class="burger-menu">
            <i class="background-blue color-white border-radius-15 padding-10 fa-solid fa-bars"></i>
        </div>
    </header>
      <h3 class="register-centrar-h3">Formulario de Login</h3>
      <form class= "register-flex-form" action="home" method="get">
        
          <div>
                <input class="register-input-form-box" type="email" placeholder="Ingrese su email" name="name" required>
          </div>

          <div>
                <input class="register-input-form-box" type="password" placeholder="Ingrese su Password" name="password" required>
          </div>
          <div class="register-flex-butom">
                <input class="register-butom" type="submit" value= "submit" />
                <input class="register-butom" type="reset" form="register"/>
          </div>

          <div class="login-centrar">
              <label>
                  <input  type="checkbox" checked="checked" name="remember"> Remember me
              </label>
          </div>
        
      
          <div class="login-centrar">
              <a href="#">Forgot password?</a>
          </div>
      </form>
      
    <footer>
        
            
            
        <div class="footer-class">
            <div class="footer-section">
                <div class="margin-auto">
                    <i class="color-hover fa-solid fa-credit-card icon-size"></i>
                </div>
                <h4 class="margin-avisos">Pagá con tarjeta o en efectivo </h4>
                <p class="margin-botom">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!
                </p>
            </div>

            <div class="footer-section">
                 <div class="margin-auto">
                    <i class="color-hover fa-solid fa-gift icon-size"></i>
                </div>
                <h4 class="margin-avisos">Envío gratis desde $ 2.500</h4>
                <p class="margin-botom">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.
                </p>
            </div>
            <div class="footer-section">
                <div class="margin-auto">
                    <i class="color-hover fa-solid fa-user-shield icon-size"></i>
                </div>
                <h4 class="margin-avisos">Seguridad, de principio a fin</h4>
                <p class="margin-botom">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.
                </p>
            </div>
        </div>
            <div class="section-cw">
                <p class="Copyright-justify">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
            </div>
        
  
</footer>
</body>
</html>